@import url('new_scene.css');

#main-game-panel {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 700px;
}

#ooc-panel {
    float: right;
    border: 1px solid #333;
    width: 190px;
    height: 520px;
}

#ooc-display {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: scroll;
    height: 100%;
    word-wrap: break-word;
    font-size: 0.8em;
}

#game-panel {
    float:left;
    height: 500px;
}

#game-input {
    float:left;
    width:100%;
    position: relative;
}

#game-input .ui-tabs-panel {
    height: 140px;
    overflow: auto;
}
#game-input .ui-tabs-nav {
    position: absolute !important;
    left: 0;
    bottom: 0;
    right:0;
    padding: 0 0.2em 0.2em 0;
}
#game-input .ui-tabs-nav li {
    margin-top: -2px !important;
    margin-bottom: 1px !important;
    border-top: none;
    border-bottom-width: 1px;
}
.ui-tabs-selected {
    margin-top: -3px !important;
}

/*
.btn {
    clear: both;
}
*/

.breadcrumbs li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.breadcrumb-focused {
    color: red;
}

.breadcrumb-unfocused {
    color: gray;
}

.field label {
    padding-right: 0.5em;;
    text-align: right;
    width: 15em;
    float: left;
}

.field label:after {
    content: ":";
}

.field select {
    width: 100px;
}
.field input {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.logout-button { margin-right: auto; margin-left: auto; width: 80px;}