@import url('new_scene.css');

#main-game-panel {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 700px;
}

#ooc-panel {
    float: right;
    border: 1px solid #333;
    width: 190px;
    height: 520px;
}

#ooc-display {
    overflow: scroll;
    overflow-x: visible;
    overflow-y: scroll;
    height: 100%;
    word-wrap: break-word;
    font-size: 0.8em;
}

#game-panel {
    float:left;
    height: 500px;
}

#game-input {
    float:left;
    width:100%;
}

/*
.btn {
    clear: both;
}
*/

.logout-button { margin-right: auto; margin-left: auto; width: 80px;}